.container {
  max-width: 1200px;
  margin: 0 auto;
}

.background__wrapper {
  background-image: url(../images/Background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba(19, 19, 21, 0.5019607843);
}
@media (max-width: 768px) {
  .header {
    padding: 24px 16px 24px 32px;
    background-color: transparent;
  }
}
@media (max-width: 384px) {
  .header {
    padding: 24px 16px 24px 18px;
  }
}
.header__img {
  cursor: pointer;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 100%;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__list {
    display: none;
  }
}
.header__phone-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 768px) {
  .header__phone-link {
    display: none;
  }
}

.about__studio {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 100%;
  color: #FFFFFF;
}

.burger {
  display: block;
  background-color: rgba(19, 19, 21, 0.2509803922);
  border: 1px solid #FFFFFF;
  padding: 13px 13px 0 13px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.burger:last-child {
  padding-bottom: 7px;
}
.burger__line {
  width: 22px;
  height: 3px;
  background-color: #FFFFFF;
  margin-bottom: 6px;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  padding: 80px 0 32px 0;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__leftside {
  display: flex;
  flex-direction: column;
  gap: 298px;
}
.main__line {
  border: 1px solid #FFFFFF;
  width: 317px;
  margin-top: 250px;
}
.main__effective {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #FFFFFF;
}
.main__digital {
  display: flex;
  align-items: center;
  position: relative;
  left: -27px;
}
.main__digital-title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}
.main__digital-subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 104px;
  line-height: 100.19px;
  letter-spacing: 0.25em;
  color: #FFFFFF;
  position: relative;
  left: -27px;
}

.about {
  padding-top: 111px;
  padding-bottom: 32px;
  position: relative;
  background-color: rgba(174, 156, 156, 0.2509803922);
}
.about::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  filter: blur(20px);
  z-index: 0;
}
.about__shattle {
  position: absolute;
  filter: blur(20px);
  top: 334px;
  left: 406px;
  z-index: 1;
}
.about__wrapper {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 44px;
  background-color: transparent;
}
.about__logo-line {
  position: relative;
}
.about__logo-line::after {
  content: "";
  position: absolute;
  margin-left: 48px;
  margin-top: 45px;
  width: 223px;
  height: 1px;
  background-color: #FFFFFF;
}
.about__studio-title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.about__studio-description {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.about__studio-text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.about__studio-text-work {
  margin-top: 36px;
  float: right;
}

.advantages {
  padding: 128px 0 64px 0;
}
.advantages__line {
  position: relative;
}
.advantages__title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  margin-bottom: 68px;
}
.advantages__title::after {
  content: "";
  position: absolute;
  margin-left: 48px;
  margin-top: 13px;
  width: 745px;
  height: 1px;
  background-color: #FFFFFF;
}
.advantages__block {
  display: flex;
  gap: 12px;
}
.advantages__block-result-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.advantages__block-result-description {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
}
.advantages__block-lang-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 70px;
}
.advantages__block-lang-description {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
}
.advantages__block-item-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.advantages__block-item-description {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */