.about {
  padding-top: 111px;
  padding-bottom: 32px;
  position: relative;
  background-color: #AE9C9C40;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    filter: blur(20px);
    z-index: 0;
  }

  &__shattle {
    position: absolute;
    filter: blur(20px);
    top: 334px;
    left: 406px;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 44px;
    background-color: transparent;
  }

  &__logo-line {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      margin-left: 48px;
      margin-top: 45px;
      width: 223px;
      height: 1px;
      background-color: #FFFFFF;
    }
  }
  &__studio {
    &-title {
      font-family: Roboto, sans-serif;
      font-weight: 300;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0.2em;
      color: #FFFFFF;
      margin-bottom: 32px;
    }

    &-description {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 30px;
      line-height: 100%;
      color: #FFFFFF;
      margin-bottom: 32px;
    }

    &-text {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      color: #FFFFFF;
      margin-bottom: 32px;

      &-work {
        margin-top: 36px;
        float: right;
      }
    }
  }
}