.container {
  max-width: 1200px;
  margin: 0 auto;
}

.background__wrapper {
  background-image: url(../images/Background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}